@model MyApp.Models.Item;

@{
	ViewData["Title"] = "Create";
}

<h1>Create Item</h1>

<div class="card p-4">

	<form asp-controller="Items" asp-action="Create" method="post">
		<div class="mb-3">
			<label for="name" class="form-label">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Item name" asp-for="Name" required>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Price</span>
			<input type="Number" class="form-control" asp-for="Price" required>
			<span class="input-group-text">.00</span>
		</div>

		<button type="Submit" class="btn btn-primary">Submit</button>
	</form>
	
</div>
